.gradients {
  z-index: -1;
  width: 100%;
  height: 19316px;
  position: absolute;
  background-image: url('../../images/works/1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
