.download {
  margin: 0 auto;
  width: 1240px;
}

.link {
  margin-top: 20px;
  display: grid;
  margin-left: 756px;
  width: 232px;
  height: 70px;

  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;

  text-decoration-line: underline;

  color: #2F57E7;
}
