.buttons {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1240px;

  display: flex;
  justify-content: space-between;
}

.button {
  list-style: none;
}

.button > a {
  display: flex;
  text-decoration: none;

  width: 232px;
  height: 47px;
}

.button > a > p {
  height: 47px;
  margin: 0;
}

.button > a > img {
  margin-right: 12px;
}

.button_inside {
  display: flex;
  align-items: center;

  font-family: Archivo;
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 27px;

  color: #728DEB;
}
