.buttons {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1240px;

  display: flex;
  justify-content: space-between;
}

.button {
  list-style: none;
}

.button > a {
  display: flex;
  text-decoration: none;

  width: 232px;
  height: 47px;
}

.button > a > p {
  height: 47px;
  margin: 0;
}

.button > a > img {
  margin-right: 12px;
}

.button_inside {
  display: flex;
  align-items: center;

  font-family: 'Archivo', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 27px;

  color: #728DEB;
}

@media (min-width: 2254px) {
  .buttons {
    margin-top: 31.31px;
    margin-bottom: 15.65px;
    width: 1940.94px;
  }

  .button > a {
    width: 363.14px;
    height: 73.57px;
  }

  .button > a > p {
    height: 73.57px;
  }

  .button > a > img {
    margin-right: 18.78px;
  }

  .button_inside {
    font-size: 39.1319px;
    line-height: 42px;
  }
}

@media (min-width: 1942px) {
  .buttons {
    margin-top: 26.97px;
    margin-bottom: 13.49px;
    width: 1672.28px;
  }

  .button > a {
    width: 312.88px;
    height: 63.38px;
  }

  .button > a > p {
    height: 63.38px;
  }

  .button > a > img {
    margin-right: 16.18px;
  }

  .button_inside {
    font-size: 33.7153px;
    line-height: 36px;
  }
}

@media (min-width: 1672px) {
  .buttons {
    margin-top: 23.22px;
    margin-bottom: 11.61px;
    width: 1439.78px;
  }

  .button > a {
    width: 269.38px;
    height: 54.57px;
  }

  .button > a > p {
    height: 54.57px;
  }

  .button > a > img {
    margin-right: 13.93px;
  }

  .button_inside {
    font-size: 29.0278px;
    line-height: 31px;
  }
}

@media (max-width: 1240px) {
  .buttons {
    margin-top: 17.22px;
    margin-bottom: 8.61px;
    width: 1067.78px;
  }

  .button > a {
    width: 199.78px;
    height: 40.47px;
  }

  .button > a > p {
    height: 40.47px;
  }

  .button > a > img {
    margin-right: 10.33px;
  }

  .button_inside {
    font-size: 21.5278px;
    line-height: 23px;
  }
}

@media (max-width: 1068px) {
  .buttons {
    margin-top: 14.83px;
    margin-bottom: 7.42px;
    width: 919.67px;
  }

  .button > a {
    width: 172.07px;
    height: 34.86px;
  }

  .button > a > p {
    height: 34.86px;
  }

  .button > a > img {
    margin-right: 8.9px;
  }

  .button_inside {
    font-size: 18.5417px;
    line-height: 20px;
  }
}

@media (max-width: 920px) {
  .buttons {
    margin-top: 12.78px;
    margin-bottom: 6.39px;
    width: 792.22px;
  }

  .button > a {
    width: 148.22px;
    height: 30.03px;
  }

  .button > a > p {
    height: 30.03px;
  }

  .button > a > img {
    margin-right: 7.67px;
  }

  .button_inside {
    font-size: 15.9722px;
    line-height: 17px;
  }
}

@media (max-width: 792px) {
  .buttons {
    margin-top: 11px;
    margin-bottom: 5.5px;
    width: 682px;
  }

  .button > a {
    width: 127.6px;
    height: 25.85px;
  }

  .button > a > p {
    height: 25.85px;
  }

  .button > a > img {
    margin-right: 6.6px;
  }

  .button_inside {
    font-size: 13.75px;
    line-height: 15px;
  }
}

@media (max-width: 682px) {
  .buttons {
    margin-top: 9.47px;
    margin-bottom: 4.74px;
    width: 587.28px;
  }

  .button > a {
    width: 109.88px;
    height: 22.26px;
  }

  .button > a > p {
    height: 22.26px;
  }

  .button > a > img {
    margin-right: 5.68px;
  }

  .button_inside {
    font-size: 11.8403px;
    line-height: 13px;
  }
}

@media (max-width: 588px) {
  .buttons {
    margin-top: 8.17px;
    margin-bottom: 4.08px;
    width: 506.33px;
  }

  .button > a {
    width: 94.73px;
    height: 19.19px;
  }

  .button > a > p {
    height: 19.19px;
  }

  .button > a > img {
    margin-right: 4.9px;
  }

  .button_inside {
    font-size: 10.2083px;
    line-height: 11px;
  }
}

@media (max-width: 506px) {
  .buttons {
    margin-top: 7.03px;
    margin-bottom: 3.51px;
    width: 435.72px;
  }

  .button > a {
    width: 81.52px;
    height: 16.52px;
  }

  .button > a > p {
    height: 16.52px;
  }

  .button > a > img {
    margin-right: 4.22px;
  }

  .button_inside {
    font-size: 8.78472px;
    line-height: 9px;
  }
}

@media (max-width: 436px) {
  .buttons {
    margin-top: 6.06px;
    margin-bottom: 3.03px;
    width: 375.44px;
  }

  .button > a {
    width: 70.24px;
    height: 14.23px;
  }

  .button > a > p {
    height: 14.23px;
  }

  .button > a > img {
    margin-right: 3.63px;
  }

  .button_inside {
    font-size: 7.56944px;
    line-height: 8px;
  }
}

@media (max-width: 376px) {
  .buttons {
    margin-top: 5.22px;
    margin-bottom: 2.61px;
    width: 323.78px;
  }

  .button > a {
    width: 60.58px;
    height: 12.27px;
  }

  .button > a > p {
    height: 12.27px;
  }

  .button > a > img {
    margin-right: 3.13px;
  }

  .button_inside {
    font-size: 6.52778px;
    line-height: 7px;
  }
}

@media (max-width: 320px) {
  .buttons {
    margin-top: 4.44px;
    margin-bottom: 2.22px;
    width: 275.56px;
  }

  .button > a {
    width: 51.56px;
    height: 10.44px;
  }

  .button > a > p {
    height: 10.44px;
  }

  .button > a > img {
    margin-right: 2.67px;
  }

  .button_inside {
    font-size: 5.55556px;
    line-height: 6px;
  }
}
