.header {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 484px 736px;
  grid-template-areas: "title menu";
  grid-column-gap: 20px;
  width: 1240px;
}

.main {
  text-decoration: none;
}

.title {
  grid-area: title;

  height: 340px;
  margin: 0;
  margin-top: 60px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 58px;

  text-transform: uppercase;

  color: #2F57E7;
}

.design {
  font-family: Ygro Sans Beta;
}

.portfolio {
  font-family: Archivo;
  font-style: italic;
}

.mariia {
  font-family: Ygro Sans Beta;
  text-transform: capitalize;
}

.simbirtseva {
  font-family: Archivo;
  font-style: italic;
  text-transform: capitalize;
}

.menu {
  grid-area: menu;
  margin-top: 60px;
}

.navigation-list {
  display: grid;
  grid-template-columns: 232px 232px 232px;
  grid-template-areas: "about works contacts";
  grid-column-gap: 20px;
  width: 736px;
}

.about {
  grid-area: about;
}

.works {
  grid-area: works;
}

.contacts {
  grid-area: contacts;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  height: 70px;
}

.navigation-link {
  display: block;
  padding-top: 16px;
  width: 100%;
  text-align: center;

  font-family: Ygro Sans Beta;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;

  text-decoration: none;

  color: #2F57E7;
}

.navigation-item:hover .navigation-link {
  font-family: Archivo;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;

  text-transform: uppercase;
}

.active {
  display: block;
  padding-top: 16px;
  width: 100%;
  text-align: center;

  font-family: Ygro Sans Beta;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;

  text-decoration: underline;
  color: #2F57E7;
}

@font-face {
  font-family: "Ygro Sans Beta";
  src: url("../fonts/YgroSansBeta-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
