.main {
  text-decoration: none;
  color: #2F57E7;
}

.title {

  height: 160px;
  margin: 0;
  margin-top: 60px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 39px;

  text-transform: uppercase;

  color: #2F57E7;
}

.design {
  font-family: 'Ygro Sans Beta', sans-serif;
}

.portfolio {
  font-family: 'Archivo', sans-serif;
  font-style: italic;
}

.simbirtseva {
  font-family: 'Archivo', sans-serif;
  font-style: italic;
  text-transform: capitalize;
}

@media (min-width: 2254px) {
  .title {
    height: 250.44px;
    margin-top: 93.92px;

    font-size: 54.7847px;
    line-height: 62px;
  }
}

@media (min-width: 1942px) {
  .title {
    height: 215.78px;
    margin-top: 80.92px;

    font-size: 47.2014px;
    line-height: 53px;
  }
}

@media (min-width: 1672px) {
  .title {
    height: 185.78px;
    margin-top: 69.67px;

    font-size: 40.6389px;
    line-height: 46px;
  }
}

@media (max-width: 1240px) {
  .title {
    height: 137.78px;
    margin-top: 51.67px;

    font-size: 30.1389px;
    line-height: 34px;
  }
}

@media (max-width: 1068px) {
  .title {
    height: 118.67px;
    margin-top: 44.5px;

    font-size: 25.9583px;
    line-height: 29px;
  }
}

@media (max-width: 920px) {
  .title {
    height: 102.22px;
    margin-top: 38.33px;

    font-size: 22.3611px;
    line-height: 25px;
  }
}

@media (max-width: 792px) {
  .title {
    height: 88px;
    margin-top: 33px;

    font-size: 19.25px;
    line-height: 22px;
  }
}

@media (max-width: 682px) {
  .title {
    height: 75.78px;
    margin-top: 28.42px;

    font-size: 16.5764px;
    line-height: 19px;
  }
}

@media (max-width: 588px) {
  .title {
    height: 65.33px;
    margin-top: 24.5px;

    font-size: 14.2917px;
    line-height: 16px;
  }
}

@media (max-width: 506px) {
  .title {
    height: 56.22px;
    margin-top: 21.08px;

    font-size: 12.2986px;
    line-height: 14px;
  }
}

@media (max-width: 436px) {
  .title {
    height: 48.44px;
    margin-top: 18.17px;

    font-size: 10.5972px;
    line-height: 12px;
  }
}

@media (max-width: 376px) {
  .title {
    height: 41.78px;
    margin-top: 15.67px;

    font-size: 9.13889px;
    line-height: 10px;
  }
}

@media (max-width: 320px) {
  .title {
    height: 35.56px;
    margin-top: 13.33px;

    font-size: 7.77778px;
    line-height: 9px;
  }
}
