.gradients {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../images/gradients/gradients_works.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.text {
  margin: 0 auto;
  margin-top: 20px;

  display: grid;
  grid-template-columns: 610px 610px;
  grid-template-areas: "text text";
  grid-column-gap: 20px;
  width: 1240px;
}

.text p {
  width: 484px;
  height: 160px;
  margin: 0;
  margin-left: 126px;

  font-family: Ygro Sans Beta;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #2F57E7;
}

.filter {
  margin-top: 110px;
}

.filer_list {
  list-style: none;
  margin: 0 auto;
  width: 1240px;
  display: flex;
  flex-direction: row;
}

.filter_link {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  padding: 18px;
  background: #DEDEDE;
  border-radius: 10px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;

  align-items: center;
  text-align: center;
  text-decoration: none;

  color: #9C9FA1;

  transition: all 0.2s ease;
}

.filter_link:hover {
  background: #2F57E6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  color: #F3F0E9;
  transition: all 0.2s ease;
}

.active_filter {
  background: #D1DBFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  color: #2F57E7;
}

.filter_item {
  margin: 0;
  padding: 0;
}

.works_list {
  margin: 0 auto;
  margin-top: 100px;

  display: grid;
  grid-template-columns: 610px 610px;
  grid-template-areas:
  "one two"
  "three four"
  "five six"
  "seven eight"
  "ten nine";
  grid-gap: 20px;
  width: 1240px;
}

.work_card + p {
  margin-top: 100px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.ten {
  grid-area: ten;
}

.project {
  text-decoration: none;
}

.work_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 610px;

  border: 1px solid #ABB4BC;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.work_card:hover {
  background-color: #728DEB;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.work_card:hover .card_title,
.work_card:hover .card_tags {
  color: #F3F0E9;
}

.card_image {
  width: 100%;
  height: 177px;

  background: url("../images/works/covers/usability_toolkit.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px 29px 0px 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.two .card_image {
  background: url("../images/works/covers/dorm_buddy.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.three .card_image {
  background: url("../images/works/covers/jetnet.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.four .card_image {
  background: url("../images/works/covers/temi.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.five .card_image {
  background: url("../images/works/covers/geek_teachers_camp.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.six .card_image {
  background: url("../images/works/covers/ya_profi.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.seven .card_image {
  background: url("../images/works/covers/3d_gallery.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.eight .card_image {
  background: url("../images/works/covers/transmediale_2020.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.nine .card_image {
  background: url("../images/works/covers/milestones_of_mobility.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.ten .card_image {
  background: url("../images/works/covers/wpmacroverse.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_content {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 28px;
  padding-left: 40px;
}

.card_title {
  width: 307px;
  height: 60px;

  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;

  color: #2F57E7;
  margin: 0;
}

.title_regular {
  font-weight: normal;
}

.card_tags {
  width: 528px;
  height: 25px;
  margin-bottom: 40px;

  font-family: Archivo;
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;

  color: #2F57E7;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.text_down p {
  margin: 0 auto;
  margin-top: 370px;

  width: 671px;
  height: 500px;

  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;

  color: #2F57E7;
}
