.gradients {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../images/gradients/gradients_works.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.text {
  margin: 0 auto;
  margin-top: 20px;

  display: grid;
  grid-template-columns: 610px 610px;
  grid-template-areas: "text text";
  grid-column-gap: 20px;
  width: 1240px;
}

.text p {
  width: 484px;
  height: 160px;
  margin: 0;
  margin-left: 126px;

  font-family: 'Ygro Sans Beta', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #2F57E7;
}

.filter {
  margin-top: 110px;
}

.filer_list {
  list-style: none;
  margin: 0 auto;
  width: 1240px;
  display: flex;
  flex-direction: row;
}

.filter_link {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  padding: 18px;
  background: #DEDEDE;
  border-radius: 10px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;

  align-items: center;
  text-align: center;
  text-decoration: none;

  color: #9C9FA1;

  transition: all 0.2s ease;
}

.filter_link:hover {
  background: #2F57E6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  color: #F3F0E9;
  transition: all 0.2s ease;
}

.active_filter {
  background: #D1DBFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  color: #2F57E7;
}

.filter_item {
  margin: 0;
  padding: 0;
}

.works_list {
  margin: 0 auto;
  margin-top: 100px;

  display: grid;
  grid-template-columns: 610px 610px;
  grid-template-areas:
  "one two"
  "three four"
  "five six"
  "seven eight"
  "ten nine";
  grid-gap: 20px;
  width: 1240px;
}

.work_card + p {
  margin-top: 100px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.ten {
  grid-area: ten;
}

.project {
  text-decoration: none;
}

.work_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 610px;

  border: 1px solid #ABB4BC;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.work_card:hover {
  background-color: #728DEB;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.work_card:hover .card_title,
.work_card:hover .card_tags {
  color: #F3F0E9;
}

.card_image {
  width: 100%;
  height: 177px;

  background: url("../images/works/covers/usability_toolkit.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px 29px 0px 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.two .card_image {
  background: url("../images/works/covers/dorm_buddy.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.three .card_image {
  background: url("../images/works/covers/jetnet.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.four .card_image {
  background: url("../images/works/covers/temi.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.five .card_image {
  background: url("../images/works/covers/geek_teachers_camp.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.six .card_image {
  background: url("../images/works/covers/ya_profi.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.seven .card_image {
  background: url("../images/works/covers/3d_gallery.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.eight .card_image {
  background: url("../images/works/covers/transmediale_2020.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.nine .card_image {
  background: url("../images/works/covers/milestones_of_mobility.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.ten .card_image {
  background: url("../images/works/covers/wpmacroverse.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_content {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 28px;
  padding-left: 40px;
}

.card_title {
  width: 307px;
  height: 60px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;

  color: #2F57E7;
  margin: 0;
}

.title_regular {
  font-weight: normal;
}

.card_tags {
  width: 528px;
  height: 25px;
  margin-bottom: 40px;

  font-family: 'Archivo', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;

  color: #2F57E7;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.text_down p {
  margin: 0 auto;
  margin-top: 370px;

  width: 671px;
  height: 500px;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;

  color: #2F57E7;
}

@media (min-width: 2254px) {
  .text {
    margin-top: 31.31px;

    display: grid;
    grid-template-columns: 954.82px 954.82px;
    grid-template-areas: "text text";
    grid-column-gap: 31.31px;
    width: 1940.94px;
  }

  .text p {
    width: 757.59px;
    height: 250.44px;
    margin-left: 196px;

    font-size: 62.6111px;
    line-height: 75px;
  }

  .filter {
    margin-top: 172.18px;
  }

  .filer_list {
    width: 1940.94px;
  }

  .filter_link {
    margin-right: 31.31px;
    padding: 28.175px;
    border-radius: 15.6528px;

    font-size: 34.4361px;
    line-height: 40px;
  }

  .filter_link:hover {
    box-shadow: 0px 3.13056px 6.26111px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 3.13056px 6.26111px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 156.53px;

    grid-template-columns: 954.82px 954.82px;

    grid-gap: 31.31px;
    width: 1940.94px;
  }

  .work_card + p {
    margin-top: 156.53px;
  }

  .work_card {
    width: 954.82px;

    border: 1.56528px solid #ABB4BC;
    border-radius: 46.9583px;
  }

  .work_card:hover {
    box-shadow: 0px 6.26111px 15.6528px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 277.05px;

    border-radius: 45.3931px 45.3931px 0px 0px;
  }

  .card_content {
    margin-top: 43.83px;
    padding-left: 62.61px;
  }

  .card_title {
    width: 480.54px;
    height: 96px;

    font-size: 43.8278px;
    line-height: 48px;
  }

  .card_tags {
    width: 826.47px;
    height: 40px;
    margin-bottom: 63.83px;

    font-size: 34.4361px;
    line-height: 40px;
  }

  .text_down p {
    margin-top: 579.15px;

    width: 1050.3px;
    height: 782.64px;

    font-size: 62.6111px;
    line-height: 68px;
  }
}

@media (min-width: 1942px) {
  .text {
    margin-top: 26.97px;

    display: grid;
    grid-template-columns: 822.65px 822.65px;
    grid-template-areas: "text text";
    grid-column-gap: 26.97px;
    width: 1672.28px;
  }

  .text p {
    width: 652.73px;
    height: 215.78px;
    margin-left: 169px;

    font-size: 53.9444px;
    line-height: 65px;
  }

  .filter {
    margin-top: 148.35px;
  }

  .filer_list {
    width: 1672.28px;
  }

  .filter_link {
    margin-right: 26.97px;
    padding: 24.275px;
    border-radius: 13.4861px;

    font-size: 29.6694px;
    line-height: 34px;
  }

  .filter_link:hover {
    box-shadow: 0px 2.69722px 5.39444px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 2.69722px 5.39444px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 134.86px;

    grid-template-columns: 822.65px 822.65px;

    grid-gap: 26.97px;
    width: 1672.28px;
  }

  .work_card + p {
    margin-top: 134.86px;
  }

  .work_card {
    width: 822.65px;

    border: 1.34861px solid #ABB4BC;
    border-radius: 40.4583px;
  }

  .work_card:hover {
    box-shadow: 0px 5.39444px 13.4861px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 238.7px;

    border-radius: 39.1097px 39.1097px 0px 0px;
  }

  .card_content {
    margin-top: 37.76px;
    padding-left: 53.94px;
  }

  .card_title {
    width: 414.02px;
    height: 82px;

    font-size: 37.7611px;
    line-height: 41px;
  }

  .card_tags {
    width: 712.07px;
    height: 34px;
    margin-bottom: 55px;

    font-size: 29.6694px;
    line-height: 34px;
  }

  .text_down p {
    margin-top: 498.99px;

    width: 904.92px;
    height: 674.31px;

    font-size: 53.9444px;
    line-height: 59px;
  }
}

@media (min-width: 1672px) {
  .text {
    margin-top: 23.22px;

    display: grid;
    grid-template-columns: 708.28px 708.28px;
    grid-template-areas: "text text";
    grid-column-gap: 23.22px;
    width: 1439.78px;
  }

  .text p {
    width: 561.98px;
    height: 185.78px;
    margin-left: 145.5px;

    font-size: 46.4444px;
    line-height: 56px;
  }

  .filter {
    margin-top: 127.72px;
  }

  .filer_list {
    width: 1439.78px;
  }

  .filter_link {
    margin-right: 23.22px;
    padding: 20.9px;
    border-radius: 11.6111px;

    font-size: 25.5444px;
    line-height: 29px;
  }

  .filter_link:hover {
    box-shadow: 0px 2.32222px 4.64444px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 2.32222px 4.64444px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 116.11px;

    grid-template-columns: 708.28px 708.28px;

    grid-gap: 23.22px;
    width: 1439.78px;
  }

  .work_card + p {
    margin-top: 116.11px;
  }

  .work_card {
    width: 708.28px;

    border: 1.16111px solid #ABB4BC;
    border-radius: 34.8333px;
  }

  .work_card:hover {
    box-shadow: 0px 4.64444px 11.6111px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 205.52px;

    border-radius: 33.6722px 33.6722px 0px 0px;
  }

  .card_content {
    margin-top: 32.51px;
    padding-left: 46.44px;
  }

  .card_title {
    width: 356.46px;
    height: 70px;

    font-size: 32.5111px;
    line-height: 35px;
  }

  .card_tags {
    width: 613.07px;
    height: 29px;
    margin-bottom: 47.35px;

    font-size: 25.5444px;
    line-height: 29px;
  }

  .text_down p {
    margin-top: 429.61px;

    width: 779.11px;
    height: 580.56px;

    font-size: 46.4444px;
    line-height: 51px;
  }
}

@media (max-width: 1240px) {
  .text {
    margin-top: 17.22px;

    display: grid;
    grid-template-columns: 525.28px 525.28px;
    grid-template-areas: "text text";
    grid-column-gap: 17.22px;
    width: 1067.78px;
  }

  .text p {
    width: 416.78px;
    height: 137.78px;
    margin-left: 107.91px;

    font-size: 34.4444px;
    line-height: 41px;
  }

  .filter {
    margin-top: 94.72px;
  }

  .filer_list {
    width: 1067.78px;
  }

  .filter_link {
    margin-right: 17.22px;
    padding: 15.5px;
    border-radius: 8.61111px;

    font-size: 18.9444px;
    line-height: 22px;
  }

  .filter_link:hover {
    box-shadow: 0px 1.72222px 3.44444px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 1.72222px 3.44444px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 86.11px;

    grid-template-columns: 525.28px 525.28px;

    grid-gap: 17.22px;
    width: 1067.78px;
  }

  .work_card + p {
    margin-top: 24.11px;
  }

  .work_card {
    width: 525.28px;

    border: 0.861111px solid #ABB4BC;
    border-radius: 25.8333px;
  }

  .work_card:hover {
    box-shadow: 0px 3.44444px 8.61111px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 152.42px;

    border-radius: 24.9722px 24.9722px 0px 0px;
  }

  .card_content {
    margin-top: 24.11px;
    padding-left: 34.44px;
  }

  .card_title {
    width: 264.36px;
    height: 52px;

    font-size: 24.1111px;
    line-height: 26px;
  }

  .card_tags {
    width: 454.67px;
    height: 22px;
    margin-bottom: 35.12px;

    font-size: 18.9444px;
    line-height: 22px;
  }

  .text_down p {
    margin-top: 318.61px;

    width: 577.81px;
    height: 430.56px;

    font-size: 34.4444px;
    line-height: 37px;
  }
}

@media (max-width: 1068px) {
  .text {
    margin-top: 14.83px;

    display: grid;
    grid-template-columns: 452.42px 452.42px;
    grid-template-areas: "text text";
    grid-column-gap: 14.83px;
    width: 919.67px;
  }

  .text p {
    width: 358.97px;
    height: 118.67px;
    margin-left: 92.94px;

    font-size: 29.6667px;
    line-height: 36px;
  }

  .filter {
    margin-top: 81.58px;
  }

  .filer_list {
    width: 919.67px;
  }

  .filter_link {
    margin-right: 14.83px;
    padding: 13.35px;
    border-radius: 7.41667px;

    font-size: 16.3167px;
    line-height: 19px;
  }

  .filter_link:hover {
    box-shadow: 0px 1.48333px 2.96667px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 1.48333px 2.96667px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 74.17px;

    grid-template-columns: 452.42px 452.42px;

    grid-gap: 14.83px;
    width: 919.67px;
  }

  .work_card + p {
    margin-top: 20.77px;
  }

  .work_card {
    width: 452.42px;

    border: 0.741667px solid #ABB4BC;
    border-radius: 22.25px;
  }

  .work_card:hover {
    box-shadow: 0px 2.96667px 7.41667px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 131.27px;

    border-radius: 21.5083px 21.5083px 0px 0px;
  }

  .card_content {
    margin-top: 20.77px;
    padding-left: 29.67px;
  }

  .card_title {
    width: 227.69px;
    height: 46px;

    font-size: 20.7667px;
    line-height: 23px;
  }

  .card_tags {
    width: 391.6px;
    height: 19px;
    margin-bottom: 30.25px;

    font-size: 16.3167px;
    line-height: 19px;
  }

  .text_down p {
    margin-top: 274.42px;

    width: 497.66px;
    height: 370.83px;

    font-size: 29.6667px;
    line-height: 32px;
  }
}

@media (max-width: 920px) {
  .text {
    margin-top: 12.78px;

    display: grid;
    grid-template-columns: 389.72px 389.72px;
    grid-template-areas: "text text";
    grid-column-gap: 12.78px;
    width: 792.22px;
  }

  .text p {
    width: 309.22px;
    height: 102.22px;
    margin-left: 80.06px;

    font-size: 25.5556px;
    line-height: 31px;
  }

  .filter {
    margin-top: 70.28px;
  }

  .filer_list {
    width: 792.22px;
  }

  .filter_link {
    margin-right: 12.78px;
    padding: 11.5px;
    border-radius: 6.38889px;

    font-size: 14.0556px;
    line-height: 16px;
  }

  .filter_link:hover {
    box-shadow: 0px 1.27778px 2.55556px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 1.27778px 2.55556px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 63.89px;

    grid-template-columns: 389.72px 389.72px;

    grid-gap: 12.78px;
    width: 792.22px;
  }

  .work_card + p {
    margin-top: 17.89px;
  }

  .work_card {
    width: 389.72px;

    border: 0.638889px solid #ABB4BC;
    border-radius: 19.1667px;
  }

  .work_card:hover {
    box-shadow: 0px 2.55556px 6.38889px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 113.08px;

    border-radius: 18.5278px 18.5278px 0px 0px;
  }

  .card_content {
    margin-top: 17.89px;
    padding-left: 25.56px;
  }

  .card_title {
    width: 196.14px;
    height: 38px;

    font-size: 17.8889px;
    line-height: 19px;
  }

  .card_tags {
    width: 337.33px;
    height: 16px;
    margin-bottom: 26.05px;

    font-size: 14.0556px;
    line-height: 16px;
  }

  .text_down p {
    margin-top: 236.39px;

    width: 428.69px;
    height: 319.44px;

    font-size: 25.5556px;
    line-height: 28px;
  }
}

@media (max-width: 792px) {
  .text {
    margin-top: 11px;

    display: grid;
    grid-template-columns: 335.5px 335.5px;
    grid-template-areas: "text text";
    grid-column-gap: 11px;
    width: 682px;
  }

  .text p {
    width: 266.2px;
    height: 88px;
    margin-left: 68.92px;

    font-size: 22px;
    line-height: 26px;
  }

  .filter {
    margin-top: 60.5px;
  }

  .filer_list {
    width: 682px;
  }

  .filter_link {
    margin-right: 11px;
    padding: 9.9px;
    border-radius: 5.5px;

    font-size: 12.1px;
    line-height: 14px;
  }

  .filter_link:hover {
    box-shadow: 0px 1.1px 2.2px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 1.1px 2.2px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 55px;

    grid-template-columns: 335.5px 335.5px;

    grid-gap: 11px;
    width: 682px;
  }

  .work_card + p {
    margin-top: 15.4px;
  }

  .work_card {
    width: 335.5px;

    border: 0.55px solid #ABB4BC;
    border-radius: 16.5px;
  }

  .work_card:hover {
    box-shadow: 0px 2.2px 5.5px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 97.35px;

    border-radius: 15.95px 15.95px 0px 0px;
  }

  .card_content {
    margin-top: 15.4px;
    padding-left: 22px;
  }

  .card_title {
    width: 168.85px;
    height: 34px;

    font-size: 15.4px;
    line-height: 17px;
  }

  .card_tags {
    width: 290.4px;
    height: 14px;
    margin-bottom: 22.43px;

    font-size: 12.1px;
    line-height: 14px;
  }

  .text_down p {
    margin-top: 203.5px;

    width: 369.05px;
    height: 275px;

    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 682px) {
  .text {
    margin-top: 9.47px;

    display: grid;
    grid-template-columns: 288.9px 288.9px;
    grid-template-areas: "text text";
    grid-column-gap: 9.47px;
    width: 587.28px;
  }

  .text p {
    width: 229.23px;
    height: 75.78px;
    margin-left: 59.35px;

    font-size: 18.9444px;
    line-height: 23px;
  }

  .filter {
    margin-top: 52.1px;
  }

  .filer_list {
    width: 587.28px;
  }

  .filter_link {
    margin-right: 9.47px;
    padding: 8.525px;
    border-radius: 4.73611px;

    font-size: 10.4194px;
    line-height: 12px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.947222px 1.89444px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.947222px 1.89444px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 47.36px;

    grid-template-columns: 288.9px 288.9px;

    grid-gap: 9.47px;
    width: 587.28px;
  }

  .work_card + p {
    margin-top: 13.26px;
  }

  .work_card {
    width: 288.9px;

    border: 0.473611px solid #ABB4BC;
    border-radius: 14.2083px;
  }

  .work_card:hover {
    box-shadow: 0px 1.89444px 4.73611px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 83.83px;

    border-radius: 13.7347px 13.7347px 0px 0px;
  }

  .card_content {
    margin-top: 13.26px;
    padding-left: 18.94px;
  }

  .card_title {
    width: 145.4px;
    height: 28px;

    font-size: 13.2611px;
    line-height: 14px;
  }

  .card_tags {
    width: 250.07px;
    height: 12px;
    margin-bottom: 19.31px;

    font-size: 10.4194px;
    line-height: 12px;
  }

  .text_down p {
    margin-top: 175.24px;

    width: 317.79px;
    height: 236.81px;

    font-size: 18.9444px;
    line-height: 21px;
  }
}

@media (max-width: 588px) {
  .text {
    margin-top: 8.17px;

    display: grid;
    grid-template-columns: 249.08px 249.08px;
    grid-template-areas: "text text";
    grid-column-gap: 8.17px;
    width: 506.33px;
  }

  .text p {
    width: 197.63px;
    height: 65.33px;
    margin-left: 51.17px;

    font-size: 16.3333px;
    line-height: 20px;
  }

  .filter {
    margin-top: 44.92px;
  }

  .filer_list {
    width: 506.33px;
  }

  .filter_link {
    margin-right: 8.17px;
    padding: 7.35px;
    border-radius: 4.08333px;

    font-size: 8.98333px;
    line-height: 10px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.816667px 1.63333px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.816667px 1.63333px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 40.83px;

    grid-template-columns: 249.08px 249.08px;

    grid-gap: 8.17px;
    width: 506.33px;
  }

  .work_card + p {
    margin-top: 11.43px;
  }

  .work_card {
    width: 249.08px;

    border: 0.408333px solid #ABB4BC;
    border-radius: 12.25px;
  }

  .work_card:hover {
    box-shadow: 0px 1.63333px 4.08333px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 72.28px;

    border-radius: 11.8417px 11.8417px 0px 0px;
  }

  .card_content {
    margin-top: 11.43px;
    padding-left: 16.33px;
  }

  .card_title {
    width: 125.36px;
    height: 24px;

    font-size: 11.4333px;
    line-height: 12px;
  }

  .card_tags {
    width: 215.6px;
    height: 10px;
    margin-bottom: 16.65px;

    font-size: 8.98333px;
    line-height: 10px;
  }

  .text_down p {
    margin-top: 151.08px;

    width: 273.99px;
    height: 204.17px;

    font-size: 16.3333px;
    line-height: 18px;
  }
}

@media (max-width: 506px) {
  .text {
    margin-top: 7.03px;

    display: grid;
    grid-template-columns: 214.35px 214.35px;
    grid-template-areas: "text text";
    grid-column-gap: 7.03px;
    width: 435.72px;
  }

  .text p {
    width: 170.07px;
    height: 56.22px;
    margin-left: 44.03px;

    font-size: 14.0556px;
    line-height: 17px;
  }

  .filter {
    margin-top: 38.65px;
  }

  .filer_list {
    width: 435.72px;
  }

  .filter_link {
    margin-right: 7.03px;
    padding: 6.325px;
    border-radius: 3.51389px;

    font-size: 7.73056px;
    line-height: 9px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.702778px 1.40556px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.702778px 1.40556px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 35.14px;

    grid-template-columns: 214.35px 214.35px;

    grid-gap: 7.03px;
    width: 435.72px;
  }

  .work_card + p {
    margin-top: 9.84px;
  }

  .work_card {
    width: 214.35px;

    border: 0.351389px solid #ABB4BC;
    border-radius: 10.5417px;
  }

  .work_card:hover {
    box-shadow: 0px 1.40556px 3.51389px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 62.2px;

    border-radius: 10.1903px 10.1903px 0px 0px;
  }

  .card_content {
    margin-top: 9.84px;
    padding-left: 14.06px;
  }

  .card_title {
    width: 107.88px;
    height: 22px;

    font-size: 9.83889px;
    line-height: 11px;
  }

  .card_tags {
    width: 185.53px;
    height: 9px;
    margin-bottom: 14.33px;

    font-size: 7.73056px;
    line-height: 9px;
  }

  .text_down p {
    margin-top: 130.01px;

    width: 235.78px;
    height: 175.69px;

    font-size: 14.0556px;
    line-height: 15px;
  }
}

@media (max-width: 436px) {
  .text {
    margin-top: 6.06px;

    display: grid;
    grid-template-columns: 184.69px 184.69px;
    grid-template-areas: "text text";
    grid-column-gap: 6.06px;
    width: 375.44px;
  }

  .text p {
    width: 146.54px;
    height: 48.44px;
    margin-left: 37.94px;

    font-size: 12.1111px;
    line-height: 15px;
  }

  .filter {
    margin-top: 33.31px;
  }

  .filer_list {
    width: 375.44px;
  }

  .filter_link {
    margin-right: 6.06px;
    padding: 5.45px;
    border-radius: 3.02778px;

    font-size: 6.66111px;
    line-height: 8px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.605556px 1.21111px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.605556px 1.21111px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 30.28px;

    grid-template-columns: 184.69px 184.69px;

    grid-gap: 6.06px;
    width: 375.44px;
  }

  .work_card + p {
    margin-top: 8.48px;
  }

  .work_card {
    width: 184.69px;

    border: 0.302778px solid #ABB4BC;
    border-radius: 9.08333px;
  }

  .work_card:hover {
    box-shadow: 0px 1.21111px 3.02778px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 53.59px;

    border-radius: 8.78056px 8.78056px 0px 0px;
  }

  .card_content {
    margin-top: 8.48px;
    padding-left: 12.11px;
  }

  .card_title {
    width: 92.95px;
    height: 18px;

    font-size: 8.47778px;
    line-height: 9px;
  }

  .card_tags {
    width: 159.87px;
    height: 8px;
    margin-bottom: 12.35px;

    font-size: 6.66111px;
    line-height: 8px;
  }

  .text_down p {
    margin-top: 112.03px;

    width: 203.16px;
    height: 151.39px;

    font-size: 12.1111px;
    line-height: 13px;
  }
}

@media (max-width: 376px) {
  .text {
    margin-top: 5.22px;

    display: grid;
    grid-template-columns: 159.28px 159.28px;
    grid-template-areas: "text text";
    grid-column-gap: 5.22px;
    width: 323.78px;
  }

  .text p {
    width: 126.38px;
    height: 41.78px;
    margin-left: 32.72px;

    font-size: 10.4444px;
    line-height: 13px;
  }

  .filter {
    margin-top: 28.72px;
  }

  .filer_list {
    width: 323.78px;
  }

  .filter_link {
    margin-right: 5.22px;
    padding: 4.7px;
    border-radius: 2.61111px;

    font-size: 5.74444px;
    line-height: 7px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.522222px 1.04444px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.522222px 1.04444px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 26.11px;

    grid-template-columns: 159.28px 159.28px;

    grid-gap: 5.22px;
    width: 323.78px;
  }

  .work_card + p {
    margin-top: 7.31px;
  }

  .work_card {
    width: 159.28px;

    border: 0.261111px solid #ABB4BC;
    border-radius: 7.83333px;
  }

  .work_card:hover {
    box-shadow: 0px 1.04444px 2.61111px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 46.22px;

    border-radius: 7.57222px 7.57222px 0px 0px;
  }

  .card_content {
    margin-top: 7.31px;
    padding-left: 10.44px;
  }

  .card_title {
    width: 80.16px;
    height: 16px;

    font-size: 7.31111px;
    line-height: 8px;
  }

  .card_tags {
    width: 137.87px;
    height: 7px;
    margin-bottom: 10.65px;

    font-size: 5.74444px;
    line-height: 7px;
  }

  .text_down p {
    margin-top: 96.61px;

    width: 175.21px;
    height: 130.56px;

    font-size: 10.4444px;
    line-height: 11px;
  }
}

@media (max-width: 320px) {
  .text {
    margin-top: 4.44px;

    display: grid;
    grid-template-columns: 135.56px 135.56px;
    grid-template-areas: "text text";
    grid-column-gap: 4.44px;
    width: 275.56px;
  }

  .text p {
    width: 107.56px;
    height: 35.56px;
    margin-left: 27.85px;

    font-size: 8.88889px;
    line-height: 11px;
  }

  .filter {
    margin-top: 24.44px;
  }

  .filer_list {
    width: 275.56px;
  }

  .filter_link {
    margin-right: 4.44px;
    padding: 4px;
    border-radius: 2.22222px;

    font-size: 4.88889px;
    line-height: 6px;
  }

  .filter_link:hover {
    box-shadow: 0px 0.444444px 0.888889px rgba(0, 0, 0, 0.15);
  }

  .active_filter {
    box-shadow: 0px 0.444444px 0.888889px rgba(0, 0, 0, 0.15);
  }

  .works_list {
    margin-top: 22.22px;

    grid-template-columns: 135.56px 135.56px;

    grid-gap: 4.44px;
    width: 275.56px;
  }

  .work_card + p {
    margin-top: 6.22px;
  }

  .work_card {
    width: 135.56px;

    border: 0.222222px solid #ABB4BC;
    border-radius: 6.66667px;
  }

  .work_card:hover {
    box-shadow: 0px 0.888889px 2.22222px rgba(0, 0, 0, 0.25);
  }

  .card_image {
    height: 39.33px;

    border-radius: 6.44444px 6.44444px 0px 0px;
  }

  .card_content {
    margin-top: 6.22px;
    padding-left: 8.89px;
  }

  .card_title {
    width: 68.22px;
    height: 14px;

    font-size: 6.22222px;
    line-height: 7px;
  }

  .card_tags {
    width: 117.33px;
    height: 6px;
    margin-bottom: 9.06px;

    font-size: 4.88889px;
    line-height: 6px;
  }

  .text_down p {
    margin-top: 82.22px;

    width: 149.11px;
    height: 111.11px;

    font-size: 8.88889px;
    line-height: 10px;
  }
}
